.w-main-page {
    width: 100%;
    max-width: 1220px;
}
H2, h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
H1, h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}