.snap-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.snap-carousel > div {
  flex: 0 0 100%;
  scroll-snap-align: start;
  margin-right: 10px;
}

.snap-carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}
.hide-scroll {
  &::-webkit-scrollbar {
      display: none;
      width: 0px;
  }
}
.w-slide {
  width: calc(100% - 70px);
  max-width: 1220px;
}